@import 'tailwindcss';
@import '@fontsource/poppins';
@import '@fontsource/luckiest-guy';
@import '@fontsource/fira-mono';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	--font-primary: 'Luckiest Guy', cursive;
	--font-secondary: 'Poppins', sans-serif;
	--font-mono: 'Fira Mono', monospace;

	--color-bg-0: #050913; /* dark background */
	--color-bg-1: #050913;
	--color-bg-2: #0a0f1a;

	--color-theme-1: #B78916; /* golden detail */
	--color-theme-2: #40942D; /* green detail */
	--color-text: rgba(255, 255, 255, 0.85); /* light text */

	--column-width: 42rem;
	--column-margin-top: 4rem;

	font-family: var(--font-secondary);
	color: var(--color-text);
}

html, body {
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background-image: url('/background.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
}

.page-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

footer {
	padding: 1rem;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	text-align: center;
}

.btn-outline-theme {
  	@apply border-2 border-solid border-[var(--color-theme-1)] px-4 py-2 rounded hover:bg-[var(--color-theme-1)] cursor-pointer;
}

.input {
	@apply w-full px-3 py-2 border border-gray-300 rounded mt-2 focus:outline-none focus:ring-2 focus:ring-[var(--color-theme-1)];
}